.stMainBlockContainer {
    background-color : rgb(223, 249, 251)
}

.st-emotion-cache-18netey {
    border : 2px solid black;
    border-radius : 8px;
    color : rgb(192, 57, 43) !important;
    display : flex;
    justify-content : center;
}

.subtitle1 {
    color: black;
    font-weight: bold;
    display : flex;
    justify-content : center;
    font-size: 30px !important;
}

.st-emotion-cache-89jlt8 {
    font-size: 30px !important;
    color: rgb(44, 62, 80);
}

.file_name , .file_size {
    font-size : 15px !important;
    color : rgb(231, 76, 60);
    font-weight : bold;
}
